.wrapper {
	position: relative;
}

.input {
	color: var(--color-text);
	width: 100%;
	padding: 15px 40px 15px 15px;
	border-radius: 8px;
	background-color: var(--bg-primary);

	&:focus {
		outline: 1px solid var(--accent);
	}
}

.button {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
