.rightSidebar {
	width: 0;
	padding: 15px 0 15px 0;
	margin-left: 15px;
	overflow: hidden;
	transition:
		width 0.3s ease,
		padding 0.3s ease,
		margin-left 0.3s ease;
}

.open {
	width: 200px;
	padding: 15px;
	margin-left: 0;
}
