* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
#root,
body {
	height: 100vh;
	min-width: 320px;
}

body {
	overscroll-behavior: none;
	line-height: 1;
	color: var(--color-text);
	background-color: var(--bg-primary);
	font-family: var(--fontRaleway);
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

input,
button,
textarea {
	font-family: var(--fontFiraSansCondensed);
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
