.title-small {
	font-size: 24px;
	font-weight: 500;
}

.title-medium {
	font-size: 32px;
	font-weight: 500;
}

.title-large {
	font-size: 40px;
	font-weight: 500;
}

.text {
	font-size: 16px;
	font-weight: 400;
}

.text-small {
	font-size: 14px;
	font-weight: 400;
}

.text-medium {
	font-size: 20px;
	font-weight: 400;
}

.text-large {
	font-size: 24px;
	font-weight: 400;
}
