:root {
	--fontRoboto: 'Roboto', serif;
	--accent: #0057ff;

	--color-text: #18191b;
	--bg-primary: #fff;
	--bg-secondary: #f8f9fa;
}

[data-theme='dark'] {
	--color-text: #ffffff;
	--bg-primary: #121212;
	--bg-secondary: #1e1e1e;
}

body {
	background-color: var(--bg-primary);
	color: var(--color-text);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
