.header {
	height: 100%;
	max-height: 58px;
	display: flex;
	align-items: center;
}

.leftSidebar {
	display: flex;
	gap: 25px;
	min-width: 210px;
	padding: 15px;
	align-items: center;

	.icon {
		font-size: 24px;
		cursor: pointer;
	}
}

.body {
	width: 100%;
}

.rightSidebar {
	display: flex;
	gap: 15px;
	padding: 15px;

	.icon {
		font-size: 24px;
		cursor: pointer;
		transform: scaleX(-1);
	}

	.login {
		display: flex;
		cursor: pointer;
		align-items: center;
		gap: 5px;
	}
}
