.layout {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-secondary);
}

.page {
	display: flex;
	flex: 1 1 auto;
}

.main {
	flex: 1 1 auto;
	padding: 15px;
	margin-right: 15px;
	background-color: var(--bg-primary);
	border-radius: 16px;
	margin-bottom: 15px;
}
