.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.submit {
	padding: 15px;
	width: 100%;
	border-radius: 8px;
	color: var(--color-text);
	font-weight: 700;
	background-color: var(--accent);
}

.footer {
	align-self: center;
}
